<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h1>Dinovis</h1>
</h:head>

<h:body>

	<h:form>
		<p:growl id="growl" life="2000" />

		<h:panelGrid columns="2" cellpadding="5" class="ui-grid">

			<h:outputLabel for="basic" value="Repeat mode: " />
			<h:selectOneMenu id="repeatMode" value="#{indexManager.repeatMode}">
				<f:selectItems value="#{indexManager.repeatModes}" />
			</h:selectOneMenu>

			<h:outputLabel for="basic" value="Number of repeats: " />
			<p:spinner id="basic" value="#{indexManager.repeatTimes}" min="1"
				max="5" />

			<p:inputText value="#{indexManager.intensityOne}"
				placeholder="Intensity (0-255)">
				<f:validateRegex pattern="^([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])$" />
			</p:inputText>
			<p:inputText value="#{indexManager.durationOne}"
				placeholder="Duration (0-2500ms)">
				<f:validateRegex
					pattern="^([0-9]{1,3}|1[0-9]{3}|2[0-4][0-9]{2}|2500)$" />
			</p:inputText>

			<p:inputText value="#{indexManager.intensityTwo}"
				placeholder="Intensity (null or 0-255)">
				<f:validateRegex
					pattern="^(\s*|([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]))$" />
			</p:inputText>
			<p:inputText value="#{indexManager.durationTwo}"
				placeholder="Duration (null or 0-2500)">
				<f:validateRegex
					pattern="^(\s*|([0-9]{1,3}|1[0-9]{3}|2[0-4][0-9]{2}|2500))$" />
			</p:inputText>

			<p:inputText value="#{indexManager.intensityThree}"
				placeholder="Intensity (null or 0-255)">
				<f:validateRegex
					pattern="^(\s*|([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]))$" />
			</p:inputText>
			<p:inputText value="#{indexManager.durationThree}"
				placeholder="Duration (null or 0-2500)">
				<f:validateRegex
					pattern="^(\s*|([0-9]{1,3}|1[0-9]{3}|2[0-4][0-9]{2}|2500))$" />
			</p:inputText>

			<p:inputText value="#{indexManager.intensityFour}"
				placeholder="Intensity (null or 0-255)">
				<f:validateRegex
					pattern="^(\s*|([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]))$" />
			</p:inputText>
			<p:inputText value="#{indexManager.durationFour}"
				placeholder="Duration (null or 0-2500)">
				<f:validateRegex
					pattern="^(\s*|([0-9]{1,3}|1[0-9]{3}|2[0-4][0-9]{2}|2500))$" />
			</p:inputText>
		</h:panelGrid>

		<p:commandButton value="Send" id="ajax" update="growl"
			actionListener="#{indexManager.buttonSendNotification}"
			styleClass="ui-priority-primary" />
			
		<p/>

		<h:outputLabel for="basic" value="Preset values: " />
		<h:panelGrid columns="3" cellpadding="5" class="ui-grid">

			<p:commandButton value="#1" id="presetOne" update="@form"
				actionListener="#{indexManager.buttonSignalOnOff}"
				styleClass="ui-priority-primary" />

			<p:commandButton value="#2" id="presetTwo" update="@form"
				actionListener="#{indexManager.buttonSignalRaising}"
				styleClass="ui-priority-primary" />

			<p:commandButton value="#3" id="presetThree" update="@form"
				actionListener="#{indexManager.buttonSignalLowLowHigh}"
				styleClass="ui-priority-primary" />

		</h:panelGrid>

	</h:form>

</h:body>
</html>

